<form>
  <nav class="tabs" data-group="primary">
    {{> (lookup templates "_explorer_tab")
      tab="character" i18n_key="explorer.tabs.template"
    }}
    {{> (lookup templates "_explorer_tab")
      tab="sheettab" i18n_key="explorer.tabs.sheettab"
    }}
    {{> (lookup templates "_explorer_tab")
      tab="multipanel" i18n_key="explorer.tabs.multipanel"
    }}
    {{> (lookup templates "_explorer_tab")
      tab="panel" i18n_key="explorer.tabs.panel"
    }}
    {{> (lookup templates "_explorer_tab")
      tab="group" i18n_key="explorer.tabs.group"
    }}
    {{> (lookup templates "_explorer_tab")
      tab="property" i18n_key="explorer.tabs.property"
    }}
    {{> (lookup templates "_explorer_tab")
      tab="citem" i18n_key="explorer.tabs.citem"
    }}
  </nav>

  <section class="content">
    <div class="tab" data-group="primary" data-tab="character">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.name"}}</th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.tabs"}}</th>
            <th></th>
          </tr>
        </thead>
        {{> (lookup templates "_explorer_data")
          collection=categories.template
          elements=elements
          child_type="tabs"
          reference_display="none"
        }}
      </table>
    </div>
    <div class="tab" data-group="primary" data-tab="sheettab">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.name"}}</th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.parents"}}</th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.panels"}}</th>
            <th></th>
          </tr>
        </thead>
        {{> (lookup templates "_explorer_data")
          collection=categories.sheettab
          elements=elements
          child_type="panels"
        }}
      </table>
    </div>
    <div class="tab" data-group="primary" data-tab="multipanel">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.name"}}</th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.parents"}}</th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.panels"}}</th>
            <th></th>
          </tr>
        </thead>
        {{> (lookup templates "_explorer_data")
          collection=categories.multipanel
          elements=elements
          child_type="panels"
        }}
      </table>
    </div>
    <div class="tab" data-group="primary" data-tab="panel">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.name"}}</th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.parents"}}</th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.properties"}}</th>
            <th></th>
          </tr>
        </thead>
        {{> (lookup templates "_explorer_data")
          collection=categories.panel
          elements=elements
          child_type="properties"
        }}
      </table>
    </div>
    <div class="tab" data-group="primary" data-tab="group">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.name"}}</th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.items"}}</th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.properties"}}</th>
            <th></th>
          </tr>
        </thead>
        {{> (lookup templates "_explorer_data")
          collection=categories.group
          elements=elements
          child_type="properties"
          reference_display="count"
        }}
      </table>
    </div>
    <div class="tab" data-group="primary" data-tab="property">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.name"}}</th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.parents"}}</th>
            <th></th>
          </tr>
        </thead>
        {{> (lookup templates "_explorer_data")
          collection=categories.property
          elements=elements
        }}
      </table>
    </div>
    <div class="tab" data-group="primary" data-tab="citem">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.name"}}</th>
            <th scope="col">{{__PKG_NAME__-i18n "table.header.groups"}}</th>
            <th></th>
          </tr>
        </thead>
        {{> (lookup templates "_explorer_data")
          collection=categories.cItem
          elements=elements
          child_type="groups"
          reference_display="none"
        }}
      </table>
    </div>
  </section>
</form>
