<tbody>
  {{#each collection}}
  {{#with (lookup ../elements this) as |element|}}
  <tr>
    <td></td>
    <td></td>
    <td>
      {{#if (eq element.node.type "character")}}
        <span class="refresh action" data-id="{{element.node.id}}" data-type="{{element.node.type}}">
        {{{__PKG_NAME__-icon "refresh"}}}
        </span>
      {{/if}}
      <span class="current component" data-id="{{element.node.id}}" data-type="{{element.node.type}}">
        {{{__PKG_NAME__-icon element.node.type}}}
        {{element.node.name}}
      </span>
    </td>
    {{#unless (eq ../../reference_display "none")}}
    <td>
      {{#if (eq ../../reference_display "count")}}
      {{__PKG_NAME__-count element.references}}
      {{else}}
      <ul class="references">
        {{#each element.references}}
        <li>
          <span class="nav action" data-id="{{this.id}}" data-type="{{this.type}}">
            {{{__PKG_NAME__-icon "arrow_left"}}}
          </span>
          <span class="linked component" data-id="{{this.id}}" data-type="{{this.type}}">
            {{{__PKG_NAME__-icon this.type}}}
            {{this.name}}
          </span>
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </td>
    {{/unless}}
    {{#if ../../child_type}}
    <td>
      <ul class="children">
        {{#each (lookup element.node.data.data ../../child_type)}}
        {{#with (lookup ../../../elements this.id) as |child|}}
        <li>
          <span class="linked component" data-id="{{child.node.id}}" data-type="{{child.node.type}}">
            {{{__PKG_NAME__-icon child.node.type}}}
            {{child.node.name}}
          </span>
          <span class="nav action" data-id="{{child.node.id}}" data-type="{{child.node.type}}">
            {{{__PKG_NAME__-icon "arrow_right"}}}
          </span>
        </li>
        {{/with}}
        {{/each}}
      </ul>
    </td>
    {{/if}}
    <td class="delete action" data-id="{{element.node.id}}" data-type="{{element.node.type}}">
      {{{__PKG_NAME__-icon "delete"}}}
    </td>
  </tr>
  {{/with}}
  {{/each}}
</tbody>
