#__PKG_NAME__ form,
#__PKG_NAME__ .content {
  height: 95%;
  overflow: hidden;
}

#__PKG_NAME__ .tab {
  height: 100%;
  margin: 0.5em 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#__PKG_NAME__ .action :hover {
  text-shadow: 0 0 10px red;
}

#__PKG_NAME__ .tab table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
}

#__PKG_NAME__ .tab th {
  background: #82817d;
  position: sticky;
  top: 0;
}

#__PKG_NAME__ ul.references,
#__PKG_NAME__ ul.children {
  list-style-type: none;
}
